body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff69b4; /* Pink */
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
}

section {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.pink-text {
    color: #ff69b4; /* Pink */
}

.result-heading {
    font-size: 1.8em;
    margin-bottom: 15px;
}

.result {
    margin-bottom: 30px;
}

.result p {
    margin-bottom: 15px;
}

.highlight {
    background-color: #ffe6f2; /* Light pink */
    padding: 10px;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.9em;
}

footer p {
    margin: 0;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 2em;
    }
    .result-heading {
        font-size: 1.5em;
    }
}
